.room-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.room-content--title {
    z-index: 1;
    width: 100%;
    margin-bottom: 4px;
    background: #39393a;
    border-bottom: 2px solid #333333;
    padding: 0.75em 2em;
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.room-content--title-topic {
    display: inline-block;
    max-width: 1px;
    border-left: 1px solid #5a5b5c;
    margin: 0 0.5em;
    padding: 0 0.5em;
    font-weight: normal;
    white-space: nowrap;
}

.room-content--messages {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    border: 0 solid transparent;
    border-width: 0 0.5em;
}

.room-content--messages .ui-scrollpanel-content {
    position: absolute;
    overflow: scroll;
}

.room-content--input {
    z-index: 1;
    width: 100%;
    padding: 0.5em;
}

.room-content--scroll-to-bottom {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 1.3em;
    bottom: 3.2em;
    padding: 0.6em 0.45em;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    font-weight: bolder;
    font-size: 0.9em;
    z-index: 100;
    transition: all 300ms linear;
}