.room-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.room-content--title {
    z-index: 1;
    width: 100%;
    margin-bottom: 4px;
    background: #39393a;
    border-bottom: 2px solid #333333;
    padding: 0.75em 2em;
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.room-content--title-topic {
    display: inline-block;
    max-width: 1px;
    border-left: 1px solid #5a5b5c;
    margin: 0 0.5em;
    padding: 0 0.5em;
    font-weight: normal;
    white-space: nowrap;
}

.room-content--messages {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    border: 0 solid transparent;
    border-width: 0 0.5em;
}

.room-content--messages .ui-scrollpanel-content {
    position: absolute;
    height: 100%;
    padding-right: 18px;
    padding-bottom: 0;
}

.room-content--input {
    z-index: 1;
    width: 100%;
    padding: 0.5em;
}