header {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 0;
    height: 2.5em;
    max-height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
    border: 0 solid #39393a;
    border-bottom-width: 0.1em;
    background: #333333;
    background: linear-gradient(to bottom, #111111 0%, #333333 25%, #333333 100%);
    font-weight: bolder;
    font-size: 1.6em;
    user-select: none
    /*transition: top 0.3s;*/
}

header a, header a:visited {
    color: inherit;
    font-style: normal;
    text-decoration: none;
}

header a:hover, header a:active, header a:focus {
    opacity: 0.90;
}

.tray {
    float: right;
    height: 100%;
    width: auto;
    white-space: nowrap;
    display: flex;
    font-size: 0.8em;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.tray > * {
    margin: auto 0 auto 0.75em;
}

.blocked {
    pointer-events: none;
}