.message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: left;
}

.message--timestamp, .message--user, .message--message {
    width: auto;
    padding: 0.25em;
    white-space: nowrap;
}

.message--timestamp, .message--user {
    line-height: 34px;
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.message--timestamp {
    font-size: 0.75em;
}

.message--message {
    padding-bottom: 4px;
    align-self: center;
    line-height: 1.2em;
    padding-left: 1em;
    white-space: normal;
    word-break: break-all;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.message--message p {
    margin: 0;
    padding: 0;
}

.message--message img {
    width: auto;
    max-height: 33vh;
    max-width: 100%;
    object-fit: contain;
}