.message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: left;
    min-height: 42px;
    border: 0 solid transparent;
    border-width: 0 2px;
    transition: background 300ms linear, border-top-width 300ms linear, border-left-color 300ms linear;
}

.message.unread {
    background: rgba(255, 255, 255, 0.05);
    border-color: #f38435;
}

.message--timestamp, .message--user, .message--message, .message--vote {
    width: auto;
    padding: 0.25em;
    white-space: nowrap;
}

.message--timestamp, .message--user, .message--vote {
    line-height: 34px;
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.message--timestamp, .message--vote {
    font-size: 0.7em;
}

.message--message {
    min-width: 10em;
    padding-bottom: 4px;
    align-self: center;
    line-height: 1.2em;
    padding-left: 1em;
    white-space: normal;
    word-break: break-all;
    word-break: break-word;
    overflow: hidden;
    overflow-wrap: break-word;
    hyphens: auto;
    flex-grow: 1;
}

.message--message p {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.message--message img {
    max-height: 33vh;
    max-width: 100%;
}

.message .vote--up.empty, .message .vote--down.empty {
    display: none;
}

.message:hover .vote--up, .message:focus .vote--up, .message:active .vote--up,
.message:hover .vote--down, .message:focus .vote--down, .message:active .vote--down {
    display: block;
}